*{
  padding: 0;
  margin: 0;
}

.todo-list {
  margin: 10rem 5rem;
  border: 1px solid gray;
  border-radius: 10px;
}

.todo-title,
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-title h1 {
  font-size: 22px;
}

.reload {
  font-size: 150%;
}

.input,
.toDo-item {
  border-bottom: 1px solid grey;
  padding: 2rem 1rem;
}

.todo-title {
  border-bottom: 3px solid grey;
}

.button {
  border-top: 3px solid grey;
  text-align: center;
}

.button,
.todo-title {
  padding: 1rem;
  background-color: rgba(226, 217, 217, 0.952);
}
.input,
.toDo-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.todo-input {
  width: 50%;
  border: none;
  ;
}